<div class="detalii">
<div *ngIf="contact">
  <h1 class="h1">Detalii</h1>
  <div>
    <span><strong>Nume:</strong></span> {{contact.nume}}
  </div>
  <div>
  <span><strong>Prenume:</strong></span> {{contact.prenume}}
</div>
<div>
  <span><strong>Tel:</strong></span> {{contact.tel}}
</div>
<div>
  <span><strong>Adresa:</strong></span> {{contact.adresa}}
</div>
<button class="btn btn-warning buton">Edit</button><button (click)="deleteContact()"  class="btn btn-danger buton">delete</button>
</div>
</div>
