.detalii {
	text-align: left;
	margin: 50px;
	max-width: 750px;
	width: 300px;
}

.buton {
	padding: 5px;
	margin: 8px;
}

.h1 {
	font-family: 'Fira Sans', sans-serif;
	font-size: 23px;
	margin: 0 0 8px 0;
	border: 1px solid black;
	border-radius: 6px;
	width: 75px;
	height: 30px;
	background-color: rgb(13, 125, 201);
	color: white;
	cursor: auto;
	padding: 1px;
}
